<div>
    <el-row :gutter="20" type="flex">
        <el-col :span="8">
            <sly-card title="Input">
                <sly-field title="" description="Project">
                    <a slot="title" target="_blank"
                       :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
                </sly-field>
            </sly-card>
        </el-col>
        <el-col :span="16" style="flex: 1">
            <sly-card title="Output" style="height: 100%">
                <sly-field v-if="data.progress === 100" title="" description="Report has been successfully saved to Files">
                    <a slot="title" target="_blank" :href="`${data.reportUrl}`">{{data.reportName}}</a>
                    <sly-icon slot="icon" :options="{ color: '#33c94c', bgColor: '#d9f7e4', rounded: false }">
                        <i class="zmdi zmdi-receipt"></i>
                    </sly-icon>
                </sly-field>
                <el-progress v-if="data.progress !== 100" :percentage="data.progress"></el-progress>
            </sly-card>
        </el-col>
    </el-row>

    <sly-card title="Classes area and objects count per image"
              subtitle="Detailed classes statistics for every image"
              style="margin-top: 15px;">
        <div slot="header" style="color:#20a0ff">
            <i class="zmdi zmdi-time-interval"></i> - class area (%) <br>
            <i class="zmdi zmdi-equalizer"></i> - number of objects
        </div>
        <sly-table :options="{perPage: state.perPage, pageSizes: state.pageSizes, fixColumns: 3}"
                   :content="data.table">
        </sly-table>
    </sly-card>

    <sly-card title="Overview"
              subtitle="Summary statistics for all classes"
              style="margin-top: 15px; min-height: 200px;">
        <sly-table v-loading="data.loading0"
                   element-loading-text="Will be calculated after the per image stats table"
                   :content="data.overviewTable">
        </sly-table>
    </sly-card>

    <sly-card title="Average class area / objects count"
              subtitle="Histogram by class of the average class area and objects count (only for images that contain at least one object of
the corresponding class)"
              style="height:100%; margin-top: 15px;">
        <sly-plotly v-loading="data.loading1"
                    element-loading-text="Will be calculated after the per image stats table"
                    :content="data.avgAreaCount">
        </sly-plotly>
    </sly-card>

    <sly-card title="Number of images with/without specific class"
              subtitle="For every class two values are calculated: how many images have / don't have a specific class"
              style="height:100%; margin-top: 15px;">
        <sly-plotly v-loading="data.loading2"
                    element-loading-text="Will be calculated after the per image stats table"
                    :content="data.imageWithClassCount">
        </sly-plotly>
    </sly-card>

    <sly-card title="Images resolutions (height x width x channels)"
              subtitle="Image resolutions distribution"
              style="height:100%; margin-top: 15px;">
        <sly-plotly v-loading="data.loading3"
                    element-loading-text="Will be calculated after the per image stats table"
                    :content="data.resolutionsCount">
        </sly-plotly>
    </sly-card>
</div>